In [14]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=10,6
import seaborn as sns
ElecData=pd.read_csv('https://github.com/HamoyeHQ/HDSC-Time-series-analysis-and-forecast/files/7768846/Time_series_analysis_and_forecast_DATASET.csv')

In [15]:
ElecData

                  FullDate  Tmax     SysLoad  GasPrice  ElecPrice
0      2010-09-01 00:00:00  15.8  1688.21500    3.6900     23.710
1      2010-09-01 01:00:00  15.8  1669.19500    3.6900     22.635
2      2010-09-01 02:00:00  15.8  1491.98000    3.6900     22.565
3      2010-09-01 03:00:00  15.8  1330.76000    3.6900     18.910
4      2010-09-01 04:00:00  15.8  1247.94000    3.6900     18.030
...                    ...   ...         ...       ...        ...
92011  2021-02-28 19:00:00  24.3   449.63625    5.4848    117.925
92012  2021-02-28 20:00:00  24.3   815.59975    5.4848     87.880
92013  2021-02-28 21:00:00  24.3   745.12325    5.4848     62.060
92014  2021-02-28 22:00:00  24.3   694.95150    5.4848     62.000
92015  2021-02-28 23:00:00  24.3   714.69630    5.4848     62.955

[92016 rows x 5 columns]

In [16]:
ElecData.describe()

               Tmax       SysLoad      GasPrice     ElecPrice
count  92016.000000  92016.000000  92016.000000  92016.000000
mean     231.696688    797.623357      6.016163     65.798356
std     4562.128748    613.520156      2.608116    213.144084
min        9.900000  -1596.810100      0.000000   -924.820000
25%       17.300000    417.119800      3.936900     31.543750
50%       21.900000    856.467925      5.165600     48.715000
75%       27.600000   1221.293675      8.023300     76.495000
max    99999.900000   3264.166300     29.990000  14700.000000

In [ ]:
#Test_Set

In [20]:
ElecData.head(2757)
ElecDataH=ElecData.head(2757)
ElecDataH

                 FullDate  Tmax     SysLoad  GasPrice  ElecPrice
0     2010-09-01 00:00:00  15.8  1688.21500    3.6900     23.710
1     2010-09-01 01:00:00  15.8  1669.19500    3.6900     22.635
2     2010-09-01 02:00:00  15.8  1491.98000    3.6900     22.565
3     2010-09-01 03:00:00  15.8  1330.76000    3.6900     18.910
4     2010-09-01 04:00:00  15.8  1247.94000    3.6900     18.030
...                   ...   ...         ...       ...        ...
2752  2010-12-24 16:00:00  33.3  1799.49565    3.0988     36.770
2753  2010-12-24 17:00:00  33.3  1869.43815    3.0988     35.060
2754  2010-12-24 18:00:00  33.3  1836.26230    3.0988     27.980
2755  2010-12-24 19:00:00  33.3  1716.70845    3.0988     28.115
2756  2010-12-24 20:00:00  33.3  1562.13960    3.0988     27.690

[2757 rows x 5 columns]

In [24]:
ElecDataH.describe()

              Tmax      SysLoad     GasPrice    ElecPrice
count  2757.000000  2757.000000  2757.000000  2757.000000
mean     21.861480  1405.987182     2.763018    22.115350
std       5.553883   339.155392     0.838737   100.359592
min      13.600000   100.089000     0.000000  -912.810000
25%      18.000000  1223.875000     2.397800    17.925000
50%      20.800000  1430.465000     2.713900    21.050000
75%      25.100000  1637.010000     3.310000    25.145000
max      38.200000  2632.265000     4.769900  4303.245000

In [ ]:
#Train_Set

In [22]:
ElecData.tail(2757)
ElecDataT=ElecData.tail(2757)
ElecDataT

                  FullDate  Tmax    SysLoad  GasPrice  ElecPrice
89259  2020-11-06 03:00:00  18.2  676.84685    5.8000     55.320
89260  2020-11-06 04:00:00  18.2  692.20005    5.8000     62.580
89261  2020-11-06 05:00:00  18.2  673.36585    5.8000     67.685
89262  2020-11-06 06:00:00  18.2  807.80015    5.8000     95.965
89263  2020-11-06 07:00:00  18.2  907.90820    5.8000     72.345
...                    ...   ...        ...       ...        ...
92011  2021-02-28 19:00:00  24.3  449.63625    5.4848    117.925
92012  2021-02-28 20:00:00  24.3  815.59975    5.4848     87.880
92013  2021-02-28 21:00:00  24.3  745.12325    5.4848     62.060
92014  2021-02-28 22:00:00  24.3  694.95150    5.4848     62.000
92015  2021-02-28 23:00:00  24.3  714.69630    5.4848     62.955

[2757 rows x 5 columns]

In [23]:
ElecDataT.describe()

              Tmax      SysLoad     GasPrice    ElecPrice
count  2757.000000  2757.000000  2757.000000  2757.000000
mean     26.993036    43.093297     6.191719    25.637575
std       5.544121   687.014520     0.534033    73.907927
min      18.200000 -1596.810100     4.466000  -500.655000
25%      22.400000  -487.180450     5.787800     9.235000
50%      25.700000    66.152700     6.220000    33.450000
75%      31.000000   556.931450     6.600000    45.650000
max      42.000000  2261.228750     7.400000  2537.470000

In [32]:
!pip install fbprophet
!pip install pystan
!pip install pystan fbprophet
from fbprophet import Prophet

Requirement already satisfied: fbprophet in /usr/local/lib/python3.7/dist-packages (0.7.1)
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.29.28)
Requirement already satisfied: cmdstanpy==0.9.5 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.9.5)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.21.5)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.3.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.4.0)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.10.5.2)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (4.63.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (1.15.0)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (2.2.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (2018.9)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (3.10.0.2)
Requirement already satisfied: pystan in /usr/local/lib/python3.7/dist-packages (2.19.1.1)
Requirement already satisfied: Cython!=0.25.1,>=0.22 in /usr/local/lib/python3.7/dist-packages (from pystan) (0.29.28)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from pystan) (1.21.5)
Requirement already satisfied: pystan in /usr/local/lib/python3.7/dist-packages (2.19.1.1)
Requirement already satisfied: fbprophet in /usr/local/lib/python3.7/dist-packages (0.7.1)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from pystan) (1.21.5)
Requirement already satisfied: Cython!=0.25.1,>=0.22 in /usr/local/lib/python3.7/dist-packages (from pystan) (0.29.28)
Requirement already satisfied: cmdstanpy==0.9.5 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.9.5)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.3.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.4.0)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.10.5.2)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (4.63.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (2.2.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (1.15.0)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (3.10.0.2)

In [44]:
IElecDataC=ElecData.set_index(['FullDate'])
IElecDataC.drop(['Year', 'Month', 'Day'], axis=1, inplace=True)
IElecDataC

                     Tmax     SysLoad  GasPrice  ElecPrice
FullDate
2010-09-01 00:00:00  15.8  1688.21500    3.6900     23.710
2010-09-01 01:00:00  15.8  1669.19500    3.6900     22.635
2010-09-01 02:00:00  15.8  1491.98000    3.6900     22.565
2010-09-01 03:00:00  15.8  1330.76000    3.6900     18.910
2010-09-01 04:00:00  15.8  1247.94000    3.6900     18.030
...                   ...         ...       ...        ...
2021-02-28 19:00:00  24.3   449.63625    5.4848    117.925
2021-02-28 20:00:00  24.3   815.59975    5.4848     87.880
2021-02-28 21:00:00  24.3   745.12325    5.4848     62.060
2021-02-28 22:00:00  24.3   694.95150    5.4848     62.000
2021-02-28 23:00:00  24.3   714.69630    5.4848     62.955

[92016 rows x 4 columns]

In [52]:
IElecDataC = IElecDataC.rename(columns={ "FullDate" : "ds" ,"SysLoad" : "add1","Tmax" : "add2","GasPrice" : "add3", "ElecPrice" : "y" })
IElecDataC
IElecDataCC=IElecDataC.copy()
IElecDataCC.drop(['add1','add2','add3'], axis=1, inplace=True)
IElecDataCC = IElecDataCC.rename(columns={"FullDate":"ds"})
IElecDataCC

                           y
FullDate
2010-09-01 00:00:00   23.710
2010-09-01 01:00:00   22.635
2010-09-01 02:00:00   22.565
2010-09-01 03:00:00   18.910
2010-09-01 04:00:00   18.030
...                      ...
2021-02-28 19:00:00  117.925
2021-02-28 20:00:00   87.880
2021-02-28 21:00:00   62.060
2021-02-28 22:00:00   62.000
2021-02-28 23:00:00   62.955

[92016 rows x 1 columns]

In [50]:
m=Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(IElecDataCC)

ValueError: ignored